/.github            export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/phpcs.xml          export-ignore
/docs               export-ignore
/tools              export-ignore
/makefile           export-ignore
